# Build results
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio cache/options
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# User-specific files
*.rsuser

# Rider
.idea/

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NuGet
*.nupkg
# The packages folder can be ignored because of Package Reference
# Uncomment if necessary:
# packages/

# Environment
.env
appsettings.Development.json
